# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
#1

st = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
#2

st.add(11)
print(st)

st.remove(1)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
#3

st1 = {1, 2, 3, 4, 5}
st2 = {2, 4, 6, 8, 10}

print(st1.union(st2))
print(st1 | st2)

print(st1.intersection(st2))
print(st1 & st2)

print(st1.difference(st2))
print(st1 - st2)

print(st2.difference(st1))
print(st2 - st1)

# Symmetric difference
print(st1 ^ st2)

{1, 2, 3, 4, 5, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{2, 4}
{1, 3, 5}
{1, 3, 5}
{8, 10, 6}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}

In [ ]:
#4

sq_st = {i**2 for i in range(1, 11)}
print(sq_st)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [8]:
#5

fil_st = {i for i in st if i % 2 == 0}
print(fil_st)

{2, 4, 6, 8, 10}

In [12]:
#6

dup_st = {1, 2, 3, 4, 5, 3, 4, 5}
unique_st = set(dup_st)
print(unique_st)

{1, 2, 3, 4, 5}

In [ ]:
#7

st1 = {1, 2, 3, 4, 5}
st2 = {1, 2, 3}

print(st2.issubset(st1))

print(st1.issuperset(st2))

True
True

In [14]:
#8

fz_st = frozenset(range(1, 11))
print(fz_st)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [15]:
#9

st = {1, 2, 3, 4, 5}
lst = list(st)
lst.append(6)
st = set(lst)
print(st)

{1, 2, 3, 4, 5, 6}

In [18]:
#10

dist_st = {
    'a': {1, 2, 3},
    'b': {4, 5, 6},
    'c': {7, 8, 9}
}
print(dist_st)

dist_fz_st = {
    frozenset({1, 2, 3}): 'a',
    frozenset({4, 5, 6}): 'b',
    frozenset({7, 8, 9}): 'c'
}
print(dist_fz_st)

{'a': {1, 2, 3}, 'b': {4, 5, 6}, 'c': {8, 9, 7}}
{frozenset({1, 2, 3}): 'a', frozenset({4, 5, 6}): 'b', frozenset({8, 9, 7}): 'c'}

In [21]:
#11

st = set(range(1, 11))

for i in st:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#12

print(st)

while st:
    st.pop()
    print(st)

set()

In [30]:
#13

st1 = {1, 2, 3, 4, 5}
st2 = {4, 5, 6, 7, 8}

st1.symmetric_difference_update(st2)
print(st1)

{1, 2, 3, 6, 7, 8}

In [31]:
#14

s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [29]:
#15

tu_st = {(i, i**2) for i in range(1, 11)}
print(tu_st)

{(7, 49), (2, 4), (4, 16), (1, 1), (8, 64), (6, 36), (10, 100), (3, 9), (5, 25), (9, 81)}