# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#1

tu = tuple(range(1,11))
print(tu)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#2

print(tu[0])
print(tu[len(tu)//2])
print(tu[-1])

1
6
10

In [6]:
#3

print(tu[:3])
print(tu[-3:])
print(tu[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [8]:
#4

tu_mat = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in tu_mat:
    print(row)
    
print(tu_mat[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [9]:
#5

tu1 = (1,2,3)
tu2 = (4,5,6)

tu3 = tu1 + tu2
print(tu3)

(1, 2, 3, 4, 5, 6)

In [12]:
#6

tu = (1, 2, 2, 3, 4, 4, 5)

print(tu.count(2))
print(tu.count(4))

print(tu.index(2))
print(tu.index(4))

2
2
1
4

In [ ]:
#7

tu = (1, 2, 3, 4, 5)

a, b, c, d, e = tu

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [ ]:
#8

lst = [1, 2, 3, 4, 5]

con_tu = tuple(lst)

print(con_tu)

(1, 2, 3, 4, 5)

In [16]:
#9

tu_mat = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in range(len(tu_mat)):
    for j in range(len(tu_mat[i])):
        print(tu_mat[i][j], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [20]:
#10

tu = (1, 2, 3, 4, 5)
print(tu)

con_list = list(tu)
print(con_list)

con_list.append(6)
print(con_list)

con_tu = tuple(con_list)
print(con_tu)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [24]:
#11

str_tu = ('a', 'b', 'h', 'a', 'y')

single_str = ''.join(str_tu)
print(single_str)

abhay

In [27]:
#12

dis_tu = {
    (1,2,3): 1,
    (4,5,6): 2,
    (7,8,9): 3
}

print(dis_tu)

{(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3}

In [30]:
#13

nest_tu = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for i in range(len(nest_tu)):
    for j in range(len(nest_tu[i])):
        print(nest_tu[i][j], end=' ')
    print()

for tpl in nest_tu:
    for num in tpl:
        print(num, end=' ')
    print()

1 2 3
4 5 6
7 8 9
1 2 3
4 5 6
7 8 9

In [31]:
dup_tu = (1, 2, 2, 3, 4, 5, 5, 6, 6)
unique_set = set(dup_tu)
print(unique_set)

{1, 2, 3, 4, 5, 6}

In [32]:
tu = (1, 2, 3, 4, 5)
print(min(tu))
print(max(tu))
print(sum(tu))

1
5
15