# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [2]:
dit = {x: x**2 for x in range(1, 11)}
print(dit)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
print(dit[5])

for key in dit:
    print(f'{key}: {dit[key]}')

25
1: 1
2: 4
3: 9
4: 16
5: 25
6: 36
7: 49
8: 64
9: 81
10: 100

In [7]:
dit[11] = 121
print(dit)

del dit[1]
print(dit)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [8]:
for key, value in dit.items():
    print(f'{key}: {value}')

2: 4
3: 9
4: 16
5: 25
6: 36
7: 49
8: 64
9: 81
10: 100
11: 121

In [9]:
new_dit = {x:x**3 for x in range(1, 11)}
print(new_dit)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [10]:
dit1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
dit2 = {6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

dit = {**dit1, **dit2}
print(dit)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
student_dit = {
    'name': 'John Doe',
    'age': 20,
    'grades': {
        'math': 85,
        'science': 92,
        'history': 78
    }
}

print(f'Name: {student_dit["name"]}')
print(f'Age: {student_dit["age"]}')
print(f'Math Grade: {student_dit["grades"]["math"]}')
print(f'Science Grade: {student_dit["grades"]["science"]}')
print(f'History Grade: {student_dit["grades"]["history"]}')

Name: John Doe
Age: 20
Math Grade: 85
Science Grade: 92
History Grade: 78

In [13]:
#8

dit = {x: [i*x for i in range(1, 6)] for x in range(1, 11)}
print(dit)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25], 6: [6, 12, 18, 24, 30], 7: [7, 14, 21, 28, 35], 8: [8, 16, 24, 32, 40], 9: [9, 18, 27, 36, 45], 10: [10, 20, 30, 40, 50]}

In [14]:
#9

tu_dit = {i: (i, i**2) for i in range(1, 6)}
print(tu_dit)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [17]:
dit = {x: x**2 for x in range(1, 6)}
print(dit)

list_tu = list(dit.items())
print(list_tu)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [18]:
#11

dit = {x: x**2 for x in range(1, 11)}
print(dit)

even_dit = {key: value for key, value in dit.items() if key % 2 == 0}
print(even_dit)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [20]:
#12

dit = {x: x**2 for x in range(1, 6)}
print(dit)

swapped_dit = {value:key for key, value in dit.items()}
print(swapped_dit)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [22]:
#13

from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

In [23]:
def return_dist(st):
    dit = {}
    for i in st:
        if i in dit:
            dit[i] += 1
        else:
            dit[i] = 1
    return dit


print(return_dist('apple'))

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [25]:
import json

dit = {
    'title': 'Python Masterclass',
    'author': 'Tim Buchalka',
    'price': 49.99,
    'is_published': True,
    'num_pages': 300
}

book_json = json.dumps(dit)
print(book_json)

{"title": "Python Masterclass", "author": "Tim Buchalka", "price": 49.99, "is_published": true, "num_pages": 300}