# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
import sqlite3

In [2]:
# 1.1

def create_db():
    connection = sqlite3.connect('test.db')
    return connection

conn = create_db()

In [7]:
cursor = conn.cursor()

In [ ]:
# 1.2

cursor.execute('''
    create table if not exists employees(
        id integer primary key,
        name text not null,
        age integer,
        department text
        )
''')

conn.commit()

In [13]:
# 2.1

def add_employee(name, age, department):
    cursor.execute('''
        insert into employees(name, age, department)
                   values(?, ?, ?)
        ''', (name, age, department))
    conn.commit()
    return cursor.lastrowid

In [19]:
# 2.2

add_employee('Abhay', 22, 'Software')
add_employee('Shubham', 24, 'Software')
add_employee('Sai', 26, 'Software')
add_employee('Akshit', 24, 'Testing')
add_employee('Akash', 27, 'Testing')

10

In [15]:
# 3.1

def get_employees():
    cursor.execute('select * from employees')
    return cursor.fetchall()

print(get_employees())

[(1, 'Abhay', 22, 'Software'), (2, 'Shubham', 24, 'Software'), (3, 'Sai', 26, 'Software'), (4, 'Akshit', 24, 'Software'), (5, 'Akash', 27, 'Software')]

In [22]:
# 3.2

def get_employee_by_department(dep):
    cursor.execute('select * from employees where department=?', (dep,))
    return cursor.fetchall()

print(get_employee_by_department('Software'))
print(get_employee_by_department('Testing'))

[(2, 'Shubham', 24, 'Software'), (3, 'Sai', 26, 'Software'), (4, 'Akshit', 24, 'Software'), (5, 'Akash', 27, 'Software'), (6, 'Abhay', 22, 'Software'), (7, 'Shubham', 24, 'Software'), (8, 'Sai', 26, 'Software')]
[(1, 'Abhay', 22, 'Testing'), (9, 'Akshit', 24, 'Testing'), (10, 'Akash', 27, 'Testing')]

In [ ]:
# 4.1

def update_department(id, dep):
    cursor.execute('update employees set department=? where id=?', (dep, id))
    conn.commit()
    return cursor.rowcount

print(update_department(1, 'Testing'))

1

In [23]:
# 5.1

def delete_employee(id):
    cursor.execute('delete from employees where id=?', (id,))
    conn.commit()
    return cursor.rowcount

In [ ]:
# 5.2

print(delete_employee(4))
print(get_employees())

1
[(1, 'Abhay', 22, 'Testing'), (2, 'Shubham', 24, 'Software'), (3, 'Sai', 26, 'Software'), (5, 'Akash', 27, 'Software'), (6, 'Abhay', 22, 'Software'), (7, 'Shubham', 24, 'Software'), (8, 'Sai', 26, 'Software'), (9, 'Akshit', 24, 'Testing'), (10, 'Akash', 27, 'Testing')]

In [26]:
# 6.1

def get_employees_age(age):
    cursor.execute('select * from employees where age > ?', (age,))
    return cursor.fetchall()

print(get_employees_age(25))

[(3, 'Sai', 26, 'Software'), (5, 'Akash', 27, 'Software'), (8, 'Sai', 26, 'Software'), (10, 'Akash', 27, 'Testing')]

In [28]:
# 6.2

def get_emp_name_start(letter):
    cursor.execute('select * from employees where name like ?', (letter + '%' ,))
    return cursor.fetchall()

print(get_emp_name_start('A'))

[(1, 'Abhay', 22, 'Testing'), (5, 'Akash', 27, 'Software'), (6, 'Abhay', 22, 'Software'), (9, 'Akshit', 24, 'Testing'), (10, 'Akash', 27, 'Testing')]

In [ ]:
# 7.1

def insert_multiple_employees(employees):
    try:
        cursor.executemany(
            '''insert into employees (name, age, department)
            values (?, ?, ?)''', employees
        )
        conn.commit()
    except Exception as e:
        conn.rollback()
        print(e)

employees = [
    ('Frank', 40, 'Finance'),
    ('Grace', 29, 'Engineering'),
    ('Hannah', 35, 'Marketing'),
    ('Ivan', 38, 'Sales'),
    ('Jack', 45, 'HR') 
]
insert_multiple_employees(employees)

In [ ]:
# 7.2   

def update_multiple_employee(employees):
    try:
        cursor.executemany(
            ''' 
                update employees 
                set age = ?
                where id = ?
            ''',
            employees
        )
        conn.commit()
    except Exception as e:
        conn.rollback()
        print(e)

updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4), 
    (23, 5)
]
update_multiple_employee(updates)

In [36]:
print(get_employees())

[(1, 'Abhay', 32, 'Testing'), (2, 'Shubham', 26, 'Software'), (3, 'Sai', 33, 'Software'), (5, 'Akash', 23, 'Software'), (6, 'Abhay', 22, 'Software'), (7, 'Shubham', 24, 'Software'), (8, 'Sai', 26, 'Software'), (9, 'Akshit', 24, 'Testing'), (10, 'Akash', 27, 'Testing'), (11, 'Frank', 40, 'Finance'), (12, 'Grace', 29, 'Engineering'), (13, 'Hannah', 35, 'Marketing'), (14, 'Ivan', 41, 'Sales'), (15, 'Jack', 45, 'HR')]

In [38]:
# 8.1

cursor.execute(
    ''' 
        create table if not exists departments (
            id integer primary key,
            name text not null
        )
    '''
)
conn.commit()

In [43]:
# 8.2

def add_department_foreign_key():
    # cursor.execute(
    #     '''
    #         PRAGMA foreign_keys=off;
    #         BEGIN TRANSACTION;
            
    #         alter table employees rename to old_employees;

    #         create table employees(
    #             id integer primary key,
    #             name text not null,
    #             age integer,
    #             department text,
    #             department_id integer,
    #             foreign key(department_id) references departments(id)
    #         );

    #         insert into employees (id, name, age, department)
    #         select id, name, age, department from old_employees;

    #         drop table old_employees;

    #         COMMIT;
    #         PRAGMA foreign_key=on;
    #     '''
    # )

    cursor.execute("PRAGMA foreign_keys=off;")
    cursor.execute("BEGIN TRANSACTION;")

    cursor.execute("ALTER TABLE employees RENAME TO old_employees;")

    cursor.execute('''
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
    ''')

    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
    ''')

    cursor.execute("DROP TABLE old_employees;")
    cursor.execute("COMMIT;")
    cursor.execute("PRAGMA foreign_keys=on;")
    
    conn.commit()
    print("Table 'employees' modified successfully.")


add_department_foreign_key()

Table 'employees' modified successfully.

In [48]:
# 8.3

def insert_department_and_employee(dep_id, dep_name, emp_id, name, age, dep):
    try:
        cursor.execute(
            ''' 
                insert into departments (id, name)
                values (?, ?)
            ''',
            (dep_id, dep_name)
        )

        cursor.execute(
            ''' 
                insert into employees (id, name, age, department, department_id)
                values (?, ?, ?, ?, ?)
            ''',
            (emp_id, name, age, dep, dep_id)
        )

        conn.commit()
        print("done")
    except Exception as e:
        conn.rollback()
        print(e)

In [52]:
insert_department_and_employee(1, 'Finance', 19, 'Zara', 28, 'Finance')

done

In [53]:
print(get_employees())

[(1, 'Abhay', 32, 'Testing', None), (2, 'Shubham', 26, 'Software', None), (3, 'Sai', 33, 'Software', None), (5, 'Akash', 23, 'Software', None), (6, 'Abhay', 22, 'Software', None), (7, 'Shubham', 24, 'Software', None), (8, 'Sai', 26, 'Software', None), (9, 'Akshit', 24, 'Testing', None), (10, 'Akash', 27, 'Testing', None), (11, 'Frank', 40, 'Finance', None), (12, 'Grace', 29, 'Engineering', None), (13, 'Hannah', 35, 'Marketing', None), (14, 'Ivan', 41, 'Sales', None), (15, 'Jack', 45, 'HR', None), (19, 'Zara', 28, 'Finance', 1)]

In [54]:
# 9.1

def create_index_on_name():
    cursor.execute('create index idx_name on employees(name)')
    conn.commit()
    print("Index created successfully.")


create_index_on_name()

Index created successfully.

In [55]:
# 9.2

import time

def get_employees_name_start_with_proformance(letter):
    start_time = time.time()
    cursor.execute('select * from employees where name like ?', (letter + '%',))
    record = cursor.fetchall()
    end_time = time.time()
    print(f"Execution time: {end_time - start_time} seconds")
    for row in record:
        print(row)
    

get_employees_name_start_with_proformance('A')

Execution time: 0.0006344318389892578 seconds
(1, 'Abhay', 32, 'Testing', None)
(5, 'Akash', 23, 'Software', None)
(6, 'Abhay', 22, 'Software', None)
(9, 'Akshit', 24, 'Testing', None)
(10, 'Akash', 27, 'Testing', None)

In [56]:
# 10.1

import shutil

def backup_database():
    shutil.copy('test.db', 'test_backup.db')
    print("Backup created successfully.")


backup_database()

Backup created successfully.

In [57]:
# 10.2

def restore_database():
    shutil.copy('test_backup.db', 'test.db')
    print("Database restored successfully.")


restore_database()

Database restored successfully.